html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: arial;
    text-align: center;
  }
  
  a {
    color: hsla(211, 100%, 70%, 0.75);
    ;
    font-size: 24px;
  }

  h4, ul, h3 {
    margin: 35px;
  }

  ul {
    list-style-position: inside;
  }
  
  header {
    padding: 10px;
  /*   text-shadow: 1px 1px 1px #000; */
    text-align: center;
    background-color: gray ;
    color: black;
  }
  
  nav {
    background-color: ;
  }

  #HathaYoga {
    text-align: justify;
  }

  #years {
    color: red
  }